.download-button {
  background-color: #4C662B;
  color: white;
  cursor: pointer;
  height: 50px;
  border-radius: 10px;
  width: 300px;
  transition: all 0.3s ease;
  border: none;
  font-size: 16px;
  font-weight: bold;
}

.download-button:hover {
  background-color: #2d3b1a;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.download-button:active {
  transform: scale(0.98);
  background-color: #5fd4c1;
}