<style>
  .attributions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
  }

  li {
    list-style: none;
    margin-bottom: 10px;
  }

  a {
    text-decoration: none;
    color: black;
    word-break: break-word;
  }

  @media (max-width: 768px) {
    .attributions-container {
      font-size: 9px;
      padding: 10px;
    }
  }
</style>

<div class="attributions-container">
  <h3>Atribuciones:</h3>
  <a
    href="https://unsplash.com/es/@simonkadula?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
    >Foto de Simon Kadula en Unsplash</a
  >
  <a
    href="https://www.flaticon.es/iconos-gratis/presupuesto"
    title="presupuesto iconos"
    >Presupuesto iconos creados por Freepik - Flaticon</a
  >
  <a href="https://www.flaticon.es/iconos-gratis/tienda" title="tienda iconos"
    >Tienda iconos creados por Freepik - Flaticon</a
  >
  <a href="https://www.flaticon.es/iconos-gratis/linux" title="linux iconos"
    >Linux iconos creados por Dave Gandy - Flaticon</a
  >
  <a
    href="https://www.flaticon.es/iconos-gratis/ventanas"
    title="ventanas iconos">Ventanas iconos creados por Dave Gandy - Flaticon</a
  >
  <a href="https://www.flaticon.es/iconos-gratis/github" title="github iconos"
    >Github iconos creados por Pixel perfect - Flaticon</a
  >
  <a href="https://www.flaticon.es/iconos-gratis/emocion" title="emoción iconos"
    >Emoción iconos creados por Baianat - Flaticon</a
  >
  <a
    href="https://www.flaticon.es/iconos-gratis/desarrollador"
    title="desarrollador iconos"
    >Desarrollador iconos creados por itim2101 - Flaticon</a
  >
</div>
