---
import Attributions from "./Attributions.astro"
---

<style>
  footer {
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
  }
  .social-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 2rem;
    box-sizing: border-box;
  }

  .social-container > ul {
    flex: 0 0 auto;
    margin: 0;
    padding: 0;
  }

  .social-container > ul > li {
    list-style: none;
  }

  .social-container > :last-child {
    flex: 0 0 40%;
    max-width: 40%;
  }
</style>

<footer>
  <div class="social-container">
    <Attributions />
  </div>
</footer>