---
import appLogo from "../images/icon.png";
import saleScreenshot from "../images/sale.png";
import { Image } from "astro:assets";
const { appName, goToDistributables } = Astro.props;
---

<style>
  .hero-section {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 100px;
    width: 100%;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
    background-image: url("/src/images/simon-kadula-OluDgzgCHp4-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    box-sizing: border-box;
  }

  .app-name {
    font-size: 50px;
    color: #000000;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  }

  .app-logo {
    z-index: 2;
  }

  .principal-screenshot {
    z-index: 2;
    box-shadow: 0 10px 10px 0 #525252;
    border-radius: 10px;
  }

  .data-download {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .data-download > * {
    margin: 10px;
  }

  @media (max-width: 768px) {
    .hero-section {
      flex-direction: column;
      gap: 30px;
      min-height: 100vh;
      padding: 15px;
    }
    .app-name {
      font-size: 30px;
      color: white;
    }
    .principal-screenshot {
      width: 300px;
      height: 200px;
    }
    .app-logo {
      width: 100px;
      height: 100px;
    }
  }
</style>

<section class="hero-section">
  <Image 
    class="principal-screenshot" 
    src={saleScreenshot} 
    alt="App logo" 
    width="500" 
    height="300"
    fit="fill" />
  <div class="data-download">
    <Image class="app-logo" src={appLogo} alt="App logo" width="150" height="150" />
    <p class="app-name">{appName}</p>
    <button class="download-button" onclick={goToDistributables}>Descargar</button>
  </div>
</section>
